@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');
@import url('../../templates/paleta.template.style.scss');

.cabeçalho{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #151323;
    color: white;
    height: 95px;
    width: 100%;
    padding-left: 25px;
    padding-right: 40px;
}

.cabeçalho_logo{
    height: 75px;
    width: 75px;
    margin: 0px;
}

.cabeçalho_logo_holder{
    width: 50%;
}

.cabeçalho_home_link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.lista_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.lista_menu_botão{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Biryani', sans-serif;
    margin-left: 25px;
}

.menu_botão_texto{
    font-family: 'Biryani', sans-serif;
    color: #fff5fe;
    text-align: center;
    vertical-align: middle;
    font-weight: 200;
}

.menu_botão_texto:hover{
    color: #9e989d;
}

@media only screen and (max-width: 590px){
    .lista_menu_botão{
        display: none;
    }
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid #fff;
      }
      .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
      /* ANIMATION */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
}